.container-spot {
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.masonry-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.one-spot {
  width: 100%;
  height: 100%;
  transform: scale(1);
  position: fixed;
  transition: 0.4s all ease;
  top: -120%;
}

div.one-spot.display {
  transform: scale(1);
  top: 0;
}

div.filter {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  margin-bottom: 30px;
}

div.full-info {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  opacity: 0.92;
  top: 10%;
  left: 10%;
  // border: 1px solid red;
  padding: 10px;
  background: white;
  z-index: 20;
  overflow-x: scroll;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  // align-items: center;
}

.material-icons.back-spot {
  // position: absolute;
  color: black;
  // margin-left: 60px;
  margin-top: 35px;
  transition: 0.3s all ease;
  font-size: 40px;
  // border: 1px solid red;
  z-index: 20px;
}

.material-icons.back-spot:hover {
  // margin-left: 50px;
  cursor: pointer;
  font-size: 45px;
}

div.spot-info {
  // width: 100%;
  // border: 1px solid yellow;
  margin-top: -15px;
  // margin-botom: 30px;
}

.spot-info h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

.for h2 {
  margin-top: 50px;
  // margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

.full-info img {
  // border: 1px solid red;
  width: 1348px;
  height: 600px;
  // object-fit: cover;
  // margin-top: 55px;
  margin-left: 45px;
}

.putoMap {
  margin-top: 40px;
}

.topRow {
  // border: 1px solid red;
  margin-left: 45px;
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 5px;
}

.sRow {
  height: 80px;
  // border-radius: 5px;
  margin-left: 45px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 5px;
}

.bRow {
  height: 80px;
  // border-radius: 5px;
  margin-left: 45px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 5px;
}

.center {
  text-align: center;
  font-size: 60px;
  margin-top: -20px;
  margin-bottom: 30px;
  // color: white;
  font-weight: bold;
}

.comment {
  margin-left: 360px;
  margin-top: 50px;
  border: 1px solid black;
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
}

.comment h3 {
  font-weight: bold;
  font-size: 50px;
}

div.forecast-info {
  width: 100%;
  // margin-left: 30px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
  // justify-content: center;
  // align-items: center;
  // // flex-wrap: wrap;
  // flex-direction: column;
  // width: 362px;
  height: 300px;
  // border: 1px solid black;
}

div.Morning {
  padding: 15px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  // border-radius: 5px;
  // margin-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 4px 2px -8px rgba(0, 0, 0, 0.9);
}

div.Morning p {
  font-weight: bold;
}

div.Midday p {
  font-weight: bold;
}

div.Evening p {
  font-weight: bold;
}

div.Morning .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Morning .midRow {
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Morning .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Midday {
  padding: 15px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  // border-radius: 5px;
  margin-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

div.Midday .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Midday .midRow {
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Midday .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Evening {
  padding: 15px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  // border-radius: 5px;
  margin-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

div.Evening .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Evening .midRow {
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Evening .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
