.masonry-effect {
  margin-top: 60px;
  // /* position:absolute;  */
  // display: grid;
  // grid-gap: 5px 5px;
  // grid-template-columns: auto auto auto;

  columns: 6 200px;
  column-gap: 1rem;
  padding: 0 15px;

  .item {
    border-radius: 15px;
    border: 1px solid black;
    color: #000000;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    .spot {
      border-radius: 15px;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 65px;
      img {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .titlePhoto {
        display: grid;
        justify-items: center;
        align-content: center;
      }
    }
  }
  @for $i from 1 through 36 {
    .item:nth-child(#{$i}) {
      $h: (random(400) + 200) + px;
      height: $h;
      line-height: $h;
    }
  }
}

// .spot {
//   border: 1px solid black;
//   border-radius: 10px;
//   width: 100%;
//   padding: 2px;
//   text-align: center;
//   background: transparent;
//   transition: 0.3s all ease;
// }

// .spot:hover {
//   border: 1px solid black;
//   color: red;
//   width: 101%;
//   height: 101%;
// }

// .spot img {
//   width: 100%;
//   /* min-height: 101%; */
// }

div.one-spot {
  width: 100%;
  height: 100%;
  /* transform: scale(0); */
  transform: scale(1);
  position: fixed;
  transition: 0.4s all ease;
  /* top: 0; desde en medio */
  top: -100%;
}

div.one-spot.display {
  transform: scale(1);
  /* //cambiar top */
  top: 0;
}

div.filter {
  width: 100vw;
  height: 100vh;
  /* background: rgba(34, 193, 195, 0.95); */
  background: black;
  opacity: 0.75;
  position: fixed;
}

div.full-info {
  width: 80%;
  height: 80%;
  background: white;
  opacity: 0.92;
  position: fixed;
  top: 10%;
  left: 10%;
  border: 1.5px solid black;
  box-shadow: 0 3px black;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  z-index: 20;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter .material-icons {
  color: white;
  margin-left: 70px;
  margin-top: 80px;
  transition: 0.3s all ease;
}

.filter .material-icons:hover {
  margin-left: 62px;
  cursor: pointer;
}

div.spot-info {
  border: 1px solid yellow;
  width: 362px;
  height: 546px;
}

// .Gmaps {
//   width: 100%;
// }

div.spot-info ul {
  border: 1px solid red;
}

div.forecast-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 362px;
  height: 546px;
}

div.Morning {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #bce8d7;
  border-radius: 5px;
  margin-bottom: 6px;
}

div.Morning p {
  font-weight: bold;
}

div.Midday p {
  font-weight: bold;
}

div.Evening p {
  font-weight: bold;
}

div.Morning .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Morning .midRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Morning .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Midday {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #b8d9e5;
  border-radius: 5px;
  margin-bottom: 6px;
}

div.Midday .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Midday .midRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Midday .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Evening {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #f3eab7;
  border-radius: 5px;
  margin-bottom: 6px;
}

div.Evening .upRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Evening .midRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Evening .downRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
