.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(1, 1, 1, 0.7);
  z-index: 1;
  margin-top: -30px;
}

.container-login form {
  background: rgb(243, 234, 183);
  background: linear-gradient( 0deg, rgba(243, 234, 183, 1) 1%, rgba(184, 217, 229, 1) 100%);
  padding: 15px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 2px -2px rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
}

.container-login fieldset {
  padding: 9px;
  background: transparent;
}

.container-login h3 {
  margin-bottom: 10px;
  text-align: center;
}

.container-login label {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.container-login input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 5px;
  outline: 0;
  background: transparent;
  transition: 0.3s all ease;
}

.container-login input:hover {
  border: 1px solid #26547c;
}

form .button {
  border: 1px solid blue;
  border-radius: 5px;
}

.fatherbtn {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}