* {
  box-sizing: border-box;
}

body {}

/* html {
    background: black;
  } */

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 70px;
}

/* .App {
  
} */

.oculto {
  position: fixed;
  left: -100%;
  transition: 0.6s all ease;
}

.oculto.mostrar {
  left: 0;
}

.oculto-login {
  position: fixed;
  right: -100%;
  transition: 0.6s all ease;
}

.oculto-login.mostrar-login {
  right: 0;
}

/* .oculto-create {
  position: fixed;
  top: -100%;
  transition: 0.6s all ease;
}

.oculto-create.mostrar-create {
  top: 0;
  background: rgba(1, 1, 1, 0.75);
  background: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  margin: 0;
} */