.container .submit {
  margin-top: 25px;
}

select {
  background: green;
  opacity: 0;
  transition: 0.3s all ease;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(1, 1, 1, 0.7);
  margin-top: 30px;
  z-index: 4;
}

.icons {
  margin-top: 3px;
  width: 47%;
  /* background: rgba(255, 255, 255, 0.5); */
  display: grid;
  grid-gap: 2px 5px;
  grid-template-columns: auto auto auto;
  padding: 20px;
  color: black;
  position: absolute;
  margin-left: 6px;
  top: 2%;
  left: 2%;
}

.backImg {
  /* background: salmon; */
  /* border: 1px solid green; */
  border-radius: 3px;
  margin-left: 10px;
  /* margin-right: 3px; */
  width: 49%;
  height: 96%;
  /* border: 3px solid transparent; */
}

.backImg img {
  border: 2px solid black;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.icons fieldset {
  border: 1px solid black;
  border-radius: 5px;
  /* box-shadow: 1px 1px 1px 1px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}

.icons label {
  border: 1px solid black;
  border-radius: 5px;
  /* box-shadow: 1px 1px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}

.container form {
  background: white;
  padding: 2%;
  margin: 5px;
  border: 1.5px solid rgb(59, 125, 239);
  border-radius: 10px;
  box-shadow: 0 3px rgba(59, 125, 239, 0.6);
  width: 90vw;
  height: 80vh;
  color: rgb(59, 125, 239);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.cont-map {
  /* padding: 60 px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 49%;
  height: 95%;
  margin-left: 1%;
  /* margin-right: 85px; */
  /* border: 1px solid yellow; */
}

.cont-map .map {
  width: 100% !important;
  height: 100% !important;
  z-index: 10;
}

.cloudinary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}