.search-form {
  /* width: auto; */
}

.search-form .search {
  width: 200px;
  height: 80px;
  transition: 0.3s all ease;
  outline: 0;
}

.search:focus, .search:hover {
  /* transform: scale(1.2); */
  width: 400px;
  height: 110px;
}