.search-form {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-form input {
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 10px;
}

.search-form .search {
  width: 500px;
  height: 30px;
  transition: 0.3s all ease;
  outline: 0;
}

.search:focus, .search:hover {
  width: 800px;
}